*{
  font-family: Helvetica,Arial, sans-serif;
}

body{
  padding: 60px;
}

input{
  color: gray;
  width: 100%;
  font-size : 1.2rem;
}

.card{
  align-content: center;
  border: 1px solid black;
  border-radius: 6px;
  margin-bottom : 10px;
  margin-right: 10px;
  overflow: hidden;
  height: 75vh;
  width: 20vw;
  background: rgb(233,234,245)
}

.card p{
  padding: 5px;
  text-align: center;
}

.card img{
  height: 70%;
  width: 100%;

}

.card-grid{
  display: flex;
  flex-flow: row wrap;
}